{% extends "expenses/base.html" %}

{% block content %}
<h2 style="color: white;">All Expenses</h2>
<p style="color: white;">Total: ₹{{ total }}</p>
<table>
    <tr>
        <th>Title</th><th>Amount</th><th>Category</th><th>Date</th><th>Actions</th>
    </tr>
    {% for exp in expenses %}
    <tr>
        <td>{{ exp.title }}</td>
        <td>₹{{ exp.amount }}</td>
        <td>{{ exp.category }}</td>
        <td>{{ exp.date }}</td>
        <td>
            <a href="{% url 'edit_expense' exp.pk %}">Edit</a> |
            <a href="{% url 'delete_expense' exp.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
